.login{
    text-align: center;
    height:600px;
    width:450px;
    border: 1px solid green;
    margin-left:600px;
   
}
.input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    margin-top: 20px;
}