.login{
    text-align: center;
    height:300px;
    width:400px;
    margin-left: 450px;
    border: 1px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    margin-top: 20px;
}